
.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #33a389;
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}
.active-menu {
    background-color:#4f92ff!important;
}
.navbar-header {
    background: #33a389;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4f92ff;
}
#wrapper {
    width: 100%;
    background: #3C3C3C;
}
.navbar-cls-top {
    background:#33a389!important    ;
    border-bottom: none;
}
.sidebar-collapse , .sidebar-collapse .nav{
    background: #3C3C3C;
}
.sidebar-collapse .nav > li > a {
    color:#fff;
    background:#3C3C3C;
    text-shadow:none;
}
input.btn.btn-default {
    color: #f1f1f1;
    background-color: #33a389!important;
    border-color: #ccc;
}
button.btn.btn-default{
    color: #f1f1f1;
    background-color: #33a389!important;
    border-color: #ccc;
}