body {
        font-family:'Lato Regular';
        font-size: 13px;
        line-height: 1.42857143;
        background-color: rgba(221, 221, 221, 0.28);
    }
    .top150{
        margin-top:50px;
    }
    .panel {
        background: rgba(255, 255, 255, 0.19);
        box-shadow: 0px 0px 50px 5px #ddd;
    }
    .panel-warning {
        border-color: rgba(255, 255, 255, 0);
    }
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        text-align:center;
        font-size:15px;
    }
    .panel-warning>.panel-heading {
        color: #fff;
        background-color: #33a389;
        border: 1px solid #33a389;
        font-size: 30px;
        font-family: 'Lato Black', sans-serif;
        text-shadow: 3px 3px 10px #777;
    }
    .panel-heading {
        padding: 50px 0px 50px 0px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel-body {
        background-color:rgb(255, 255, 255);
    }
    .col-md-4 {
        margin-top:20px;
    }
    .col-sm-10 {
        width: 70%;
    }
    .col-sm-offset-2 {
        margin-left:16.666667%;
    }
    .form-horizontal .form-group {
        margin-top: 15px;
        margin-right: -66px;
        margin-left: -27px;
    }
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 83%;
        margin-left: 41px;
        padding: 10px;
    }
    a {
        margin-top:15px;
        margin-left:15px;
        color:gray;
        font-weight:bold;
    }
    