#sidebar {
    background: #3C3C3C !important;
}
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: -12%;
}
#topbar .navbar-header {
    width: 250px;
    height: 100%;
    background: #33a389;
    text-align: center;
}
#topbar .topbar-main {
    display: block;
    height: 100%;
    background: #33a389;
}
.btn, .btn-default {
    color: white;
    background-color: #33a389 !important;
    border-color: #ccc;
}
ul li{
    list-style: none;
}